      <li id="<%= task.id %>">
          <%= check_box_tag "completed", "yes", task.completed %>
          <%- if task.completed -%>
            <span class="completed">
          <%- else -%>
            <span>
          <%- end -%>
          <%= link_to image_tag("/images/delete.gif", :id => :close), task, :method => :delete, :remote => true %>
          <%= create_links(task.content) %>
          </span>
      </li>
