<h2>Simple, Powerful Todo Lists!</h2>

<p class="center">Just type in the name you would like to use and hit enter</p>

<%= form_tag do %>
  <input type="text" placeholder="Type a name and press Enter" id="task_content" name="name">
<% end %>

<h3 class="center"><%= link_to "See more features", features_path %></h3>

<div id="count"><%= @total_tasks %> tasks, <%= @total_lists %> lists, and counting!</div>
