<h2>Fluttr is a simple online todo list!</h2>

<p>Just type in the name of the todo list you would like to use and hit enter to get started!</p>

<%= form_tag do %>
  <input type="text" placeholder="Type a name and press Enter" id="task_content" name="name">
<% end %>

<h2>It's as simple as that!</h2>

<div id="count"><%= @total %> lists and counting!</div>
