body { 
  background: white; /* url(/images/top_bar.gif) repeat-x 0px 0px; */
  text-shadow: #EEE 1px 1px 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }

.right { float: right; }
.left { float: left; }
.center { text-align: center; }

div.field, div.actions {
  margin-bottom: 10px;
}

.alert, .notice {
  border: 1px solid;
  border-radius: 5px;
  padding: 6px;
  text-align: center;
}
.notice {
  border-color: #7FA9CD;
  background-color: #DEF2FC;
  color: #3375AF;
}
.alert {
  color: #D8000C;
  background-color: #FFBABA;
}

#errors {
  color: #C00;
  text-align: center;
}

.field_with_errors {
  color: #D8000C;
  font-weight: bold;
  padding: 2px;
  display: table;
}

#error_explanation {
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #FFBABA;
  color: #D8000C;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: none;
}

#wrapper {
  margin: 0 auto;
  width: 435px;
}

#header {
  height: 42px;
  margin: 0px auto 10px;
  border-bottom: 1px solid #DDD;
}

#header a, #header a:hover {
  color: black;
  background-color: white;
}
#header a img {
  float: left;
}
#header #nav {
  margin-top: 4px;
  float: right;
}
#header #nav li {
  display: inline;
}
#header #nav ul {
  display: none;
}
#header #nav li:hover ul {
  background: white;
  border: 1px solid #CCC;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0 5px;
}
#header #nav li:hover li {
  display: block;
  float: none;
}

input[type=text], input[type=password]{
  border: 1px solid #DDD;
  padding: 5px 10px;
  font-size: 24px;
  width: 415px;
  outline-offset: -2px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #CCC;
}


input:focus {
  box-shadow: rgba(82, 168, 236, 0.496094) 0px 0px 8px;
  -webkit-box-shadow: rgba(82, 168, 236, 0.496094) 0px 0px 8px;
  -moz-box-shadow: rgba(82, 168, 236, 0.496094) 0px 0px 8px;
  border-color: rgba(82, 168, 236, 0.746094) !important;
  outline:none; /* when highlighted, don't show browser outline */
}
input[type=submit] {
  background-color: #FAFAFA;
  border-color: #BBB, #BBB, #999;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  padding: 5px 9px;
  text-shadow: 0 1px #F0F0F0;
  -webkit-box-shadow: 0 1px 0 #F8F8F8;
}
input[type=submit]:hover, input[type=submit]:focus {
  background-color: #CCC;
}
input[type=submit]:active {
  background-color: #AAA;
}

img {
  float: right;
  border: 0px;
}
table {
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  clear: both;
  margin: 5px;
}

ul li span.tasks {
  color: #AAA;
}

#footer {
  color: #CCC;
  font-size: 14px;
  margin-top: 45px;
  text-align: center;
}
#footer a {
  color: #AAA;
}

h2 {
  text-align:center;
}

#features h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#features p {
  margin: 0;
  padding: 0;
}
#features li {
  clear: both;
  padding: 15px;
}


.completed {
  color: #AAA;
  text-decoration: line-through;
}
img#close {
  margin: 3px;
}

#count {
  color: #666;
  text-align: center;
}

#tasks a, #manage a {
    text-decoration: none;
    color: #0084B4;
}
#tasks a:hover, #manage a:hover { text-decoration: underline; }

@media screen and (max-device-width: 480px) {
  #wrapper {
    width: 300px !important;
  }

  input#task_content {
    width: 280px !important;
  }
}
