body { 
  background: white; /* url(/images/top_bar.gif) repeat-x 0px 0px; */
  text-shadow: #EEE 1px 1px 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }

.right { float: right; }
.left { float: left; }
.center { text-align: center; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice, #errors {
  text-align: center;
}
#notice {
  color: green;
}
#errors {
  color: #C00;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#wrapper {
  margin: 0 auto;
  width: 435px;
}

#header {
  height: 52px;
  margin: 0px auto 30px;
  border-bottom: 1px solid #DDD;
}

#header a, #header a:hover {
  color: black;
  background-color: white;
}
#header a img {
  float: left;
}

input#task_content{
  border: 1px solid #DDD;
  padding: 5px 10px;
  font-size: 24px;
  width: 415px;
  outline-offset: -2px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #CCC;
  outline:none; /* when highlighted, don't show browser outline */
}


input#task_content:focus {
  box-shadow: rgba(82, 168, 236, 0.496094) 0px 0px 8px;
  -webkit-box-shadow: rgba(82, 168, 236, 0.496094) 0px 0px 8px;
  -moz-box-shadow: rgba(82, 168, 236, 0.496094) 0px 0px 8px;
  border-color: rgba(82, 168, 236, 0.746094) !important;
}
img {
  float: right;
  border: 0px;
}
table {
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  clear: both;
  margin: 5px;
}

#footer {
  color: #CCC;
  font-size: 14px;
  margin-top: 45px;
  text-align: center;
}
#footer a {
  color: #AAA;
}

h2 {
  text-align:center;
}


#features h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#features p {
  margin: 0;
  padding: 0;
}
#features li {
  clear: both;
  padding: 15px;
}


.completed {
  color: #AAA;
  text-decoration: line-through;
}
.addthis_toolbox {
  float: right;
  margin-top: 15px;
}
.addthis_toolbox span {
  color: #666;
  float:left;
  margin-right: 5px;
}
img#close {
  margin: 3px;
}

#count {
  color: #666;
  text-align: center;
}

#tasks a {
    text-decoration: none;
    color: #0084B4;
}

@media screen and (max-device-width: 480px) {
  #wrapper {
    width: 300px !important;
  }

  input#task_content {
    width: 280px !important;
  }
}
